@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RealTimeChart.Models.MachineShortModel>
@foreach (var machine in Model)
{
    <div>
        <strong>
            @machine.Name
        </strong>
    </div>
    @Ajax.ActionLink("See monitorng", "Chart", "Machines", new { id = machine.Id },
        new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "book-content"
            })

    <br />
}
<div id="valuesDisplay"></div>
<a onclick="getVMValues()" href="#" class="btn btn-primary">Get VM(only) values</a>
<script>
    function getVMValues() {
        $("#valuesDisplay").html("Loading...");
        $("#valuesDisplay").load("/Home/Demo");
    }
</script>



