@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Sofiq<br />
        Krasna polqna 2,bl.22,ap. 84<br />
        <abbr title="Phone">P:</abbr>
        0896431015
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Author:</strong>   <a href="mailto:Rumen.Tonev@yahoo.com">Rumen Tonev</a><br />      
    </address>
</div>